[submodule "vim/pack/myplugins/start/vim-signify"]
	path = vim/pack/myplugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/pack/myplugins/start/tagbar"]
	path = vim/pack/myplugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "vim/pack/myplugins/start/vim-autoformat"]
	path = vim/pack/myplugins/start/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule "vim/pack/myplugins/start/vim-pandoc-syntax"]
	path = vim/pack/myplugins/start/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "vim/pack/myplugins/start/fzf"]
	path = vim/pack/myplugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/myplugins/start/fzf.vim"]
	path = vim/pack/myplugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/myplugins/start/--force"]
	path = vim/pack/myplugins/start/--force
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "vim/pack/myplugins/start/YouCompleteMe"]
	path = vim/pack/myplugins/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "vim/pack/myplugins/start/vim-highlightedyank"]
	path = vim/pack/myplugins/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
[submodule "vim/pack/myplugins/start/vim-sandwich"]
	path = vim/pack/myplugins/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich.git
